# Byte-compiled / optimized / DLL files
__pycache__/
*.log
*.vscode/

# Data
Data/*
!Data/subjectSplit_curated.npy
!Data/training_data_curated_60_openpose/
!Data/training_data_curated_60_openpose/infoData_60_openpose.npy

test_data/*
!test_data/drop_vertical_jump.trc
