# Byte-compiled / optimized / DLL files
__pycache__/
*.log
*.vscode/

# Keep specific files in Data
!Data/subjectSplit_curated.npy
!Data/training_data_curated_60_openpose/
!Data/training_data_curated_60_openpose/infoData_60_openpose.npy

# Ignore everything in the 'training_data_curated_60_openpose' folder except the desired file
Data/training_data_curated_60_openpose/*
!Data/training_data_curated_60_openpose/infoData_60_openpose.npy

# test_data/*
# !test_data/drop_vertical_jump.trc
# !test_data/sit_to_stand.trc
# !test_data/squats.trc

trained_models/